<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Tea sharing site!</p>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="">Friends</a>
      <a href="/user">Profile</a>
    </div>
    <div>
      User info:
    </div>
    <div>
      Recently added tea:
    </div>
    <div>
      Top teas:
    </div>
  </body>
</html>
