<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="">Friends</a>
      <a href="/user">Profile</a>
    </div>
    <div class="userlistdiv">
        <ul>
            <% for(const user in user_list) { %>
                <li> <%= user.username %> </li>
            <% } %>
        
        </ul>
    </div>
    <p>User list success!</p>
  </body>
</html>