<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Create a new user account!</p>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>You are already logged in <%= currentUser.username %></h3>
    <% } else { %>
      <div class="formdiv">
          <form method="POST" action="" className="userform" id="newuserform">
              <h2>New user signup</h2>
              <label htmlFor="username">Username</label>
              <input type="text" id="username" name="username" placeholder="Username" required="required" maxlength="15"></input>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required="required" minlength="3" maxlength="100"></input>
              <label htmlFor="favoritetea">Favorite Type of Tea</label>
              <select id="favoritetea" name="favoritetea">
                <option value="Green">Green</option>
                <option value="Black">Black</option>
                <option value="Oolong">Oolong</option>
                <option value="Herbal">Herbal</option>
                <option value="White">White</option>
              </select>
              <button type="submit">Submit</button>
            </form>
      </div>
    <% } %>
  </body>
</html>
