<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Log in to your account!</p>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/teas/tealist">Teas</a>
      <a href="/teas/create">Add New Tea</a>
      <% if (currentUser) { %>
        <a href="<%= currentUser.url %>">Profile</a>
      <% } else { %>
        <a href="/user/login">Log in</a>
      <% } %>
      <a href="/user/userlist">Friends</a>
    </div>
    <% if (currentUser) { %>
      <h3>You are already logged in <%= currentUser.username %></h3>
    <% } else { %>
      <div class="formdiv">
        <form method="POST" action="/userlogin" className="loginform" id="loginform">
            <h2>Log in!</h2>
            <label htmlFor="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username"></input>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"></input>
            <button type="submit">Log in</button>
          </form>
    </div>
    <% } %>
  </body>
</html>
