li {
    list-style: none;
}

.navbar {
    border: solid 2px black;
}

.tealistdiv {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    margin: 5px;
}

.teacard {
    display: flex;
    flex-direction: column;
    border: solid 3px blue;
    margin: 10px;
    width: 600px;
}